<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="USB_IO2.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="USBIO.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <USB_IO2.Settings>
			<setting name="IsUpgraded" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="DevMax" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="MuMin" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="OnColor" serializeAs="String">
				<value>White</value>
			</setting>
			<setting name="OffColor" serializeAs="String">
				<value>Black</value>
			</setting>
			<setting name="InColor" serializeAs="String">
				<value>Red</value>
			</setting>
			<setting name="OutColor" serializeAs="String">
				<value>Lime</value>
			</setting>
			<setting name="CmdFontColor" serializeAs="String">
				<value>White</value>
			</setting>
			<setting name="StatusFontColor" serializeAs="String">
				<value>White</value>
			</setting>
			<setting name="SyncTimerInterval" serializeAs="String">
				<value>50</value>
			</setting>
        </USB_IO2.Settings>
		<USBIO.Settings>
			<setting name="IsUpgraded" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="DevMax" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="MuMin" serializeAs="String">
				<value>0</value>
			</setting>
		</USBIO.Settings>
    </userSettings>
</configuration>