<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="USBGPIO.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <USBGPIO.Settings>
            <setting name="IsUpgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StoreFileBody" serializeAs="String">
                <value>USB_GPIO</value>
            </setting>
            <setting name="VendorID" serializeAs="String">
                <value>4096</value>
            </setting>
            <setting name="USBIO1" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="USBIO2" serializeAs="String">
                <value>288</value>
            </setting>
            <setting name="USBIO2AKI" serializeAs="String">
                <value>289</value>
            </setting>
        </USBGPIO.Settings>
    </userSettings>
</configuration>